- user defined functions
  - parametrized functions
  - non parametrized functions
  - return function
  - non return functions
  - default parametrized functions
  - lambda function

-built in functions

In [7]:
def greet(): #function intialization
    print("hello user")
    print("welcome to our functions notebook")
    print("seeyou in another class")

In [6]:
greet()  #function calling

hello user
welcome to our functions notebook
seeyou in another class

In [ ]:
#parametrized functions
def sum(a,b): #parameters
    print(a+b)

In [9]:
sum(10,20)

30

In [12]:
def avg(a,b,c,d):
    print((a+b+c+d)/4)
average = avg(5,6,7,8)

6.5

In [ ]:
#retrun functions
def avg(a,b,c,d):
    return((a+b+c+d)/4)
average = avg(5,6,7,8)
print(average)

6.5

In [15]:
#default parametrized function
def mycountry(country="uk"):
    print(f'I love {country}')
mycountry("india")
mycountry("usa")
mycountry("canada")
mycountry()

I love india
I love usa
I love canada
I love uk

In [16]:
def square(a):
    return a**2
square(5)

25

In [17]:
square = lambda a : a**2
print(square(5))

25

In [24]:
def even(n):
    if n % 2 == 0:
       print("even number")
    else:
        print("odd number")
even(4)

even number

In [27]:
even = lambda n: print("even number") if n%2==0 else print("odd number")
even(5)

odd number

- to find the number is prime or not
- to take a list of 5 numbers and return a new list with square of each number
- to take a list of 10 numbers and return a new list with only even numbers
- to check year is leap or not
- to calculate 10% of 200000

In [45]:
num = int(input("enter a number"))
if num < 2:
    print("not prime")
else:
    for i in range(2,num):
        if num%i==0:
            print(" not prime")
            break
    else:
        print("prime")

 not prime

In [42]:
def year(y):
   if(y%4==0 and y%100!=0)or(y%400==0):
    print("year is a leap year")
   else:
    print("year is not a leap year")

year(2024)

year is a leap year

In [ ]:
def percent():
    print

In [1]:
list = [1,2,3,4,5]
new_list = []
for i in list:
    new_list.append(i**2)
print(new_list)

[1, 4, 9, 16, 25]

In [3]:
list = [2,4,3,5,7,8,9,1,0,6]
new_list = []
for i in list:
    if i % 2 == 0:
        new_list.append(i)
print(new_list)

[2, 4, 8, 0, 6]