In [3]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [4]:
for i in range(17,171,17):
    print(i)

17
34
51
68
85
102
119
136
153
170

In [5]:
fruits =["orange","apple","banana","kiwi","grape"]
print(fruits)

['orange', 'apple', 'banana', 'kiwi', 'grape']

In [ ]:
for fruit in fruits:
    print(fruit,fruit ,sep="*")

orange*orange
apple*apple
banana*banana
kiwi*kiwi
grape*grape

In [12]:
for i in range(1,11):
    print(f"24 * {i} ={24 * i}")

24 * 1 =24
24 * 2 =48
24 * 3 =72
24 * 4 =96
24 * 5 =120
24 * 6 =144
24 * 7 =168
24 * 8 =192
24 * 9 =216
24 * 10 =240

In [18]:
#wap to find all the even numbers from 1 to 100.

for i in range(1,101):
    if(i%2==0):
     print(i," is  even")
    else:
       print(i,"is odd")

1 is odd
2  is  even
3 is odd
4  is  even
5 is odd
6  is  even
7 is odd
8  is  even
9 is odd
10  is  even
11 is odd
12  is  even
13 is odd
14  is  even
15 is odd
16  is  even
17 is odd
18  is  even
19 is odd
20  is  even
21 is odd
22  is  even
23 is odd
24  is  even
25 is odd
26  is  even
27 is odd
28  is  even
29 is odd
30  is  even
31 is odd
32  is  even
33 is odd
34  is  even
35 is odd
36  is  even
37 is odd
38  is  even
39 is odd
40  is  even
41 is odd
42  is  even
43 is odd
44  is  even
45 is odd
46  is  even
47 is odd
48  is  even
49 is odd
50  is  even
51 is odd
52  is  even
53 is odd
54  is  even
55 is odd
56  is  even
57 is odd
58  is  even
59 is odd
60  is  even
61 is odd
62  is  even
63 is odd
64  is  even
65 is odd
66  is  even
67 is odd
68  is  even
69 is odd
70  is  even
71 is odd
72  is  even
73 is odd
74  is  even
75 is odd
76  is  even
77 is odd
78  is  even
79 is odd
80  is  even
81 is odd
82  is  even
83 is odd
84  is  even
85 is odd
86  is  even
87 is odd
88  is  even
89 is odd
90  is  even
91 is odd
92  is  even
93 is odd
94  is  even
95 is odd
96  is  even
97 is odd
98  is  even
99 is odd
100  is  even

In [22]:
a = int(input())
b= int(input())

for i in range(a,b+1):
  if i % 3 == 0:
   print(i)

3

In [23]:
#wap to find the numbers between 323 and 4567 which are divisible by 7 and 5

for i in range(323,4568):
    if(i%5==0)and(i%7==0):
        print(i)

350
385
420
455
490
525
560
595
630
665
700
735
770
805
840
875
910
945
980
1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695
2730
2765
2800
2835
2870
2905
2940
2975
3010
3045
3080
3115
3150
3185
3220
3255
3290
3325
3360
3395
3430
3465
3500
3535
3570
3605
3640
3675
3710
3745
3780
3815
3850
3885
3920
3955
3990
4025
4060
4095
4130
4165
4200
4235
4270
4305
4340
4375
4410
4445
4480
4515
4550

In [33]:
#wap  to find the sum of first 100 natural numbers.

sum = 0
for i in range(1,101):
  sum = sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [34]:
#while loop


num = 1
while num <= 10:
    print(f"24 x {num} = {24*num}")
    num = num+1

24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

In [38]:
sum = 1
while sum<=100:
  sum = sum+1
  print(sum)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [39]:
#break and continue

fruits = ["orange","apple","banana","kiwi","grape"]

for fruit in fruits:
    if fruit == "kiwi":

       break
    print(fruit)

orange
apple
banana

In [ ]:
fruits = ["orange","apple","banana","kiwi","grape"]

for fruit in fruits:
    if fruit == "apple":
      continue
    print(fruit)

orange
banana
kiwi
grape