- how to declare dictionary
- how to access key and values
- how to apply loops
- how to make nested dictionaries
- how to access values in nested dictionary

In [2]:
stu={"name":"aadya","rollno": 1,"sem": 5 }
print(stu)

{'name': 'aadya', 'rollno': 1, 'sem': 5}

In [3]:
temp ={ 'lko':[35,40],
        'delhi':[55,23],
         'mumbai':[44,32]}
print(temp)

{'lko': [35, 40], 'delhi': [55, 23], 'mumbai': [44, 32]}

In [4]:
info = dict(name = "alice",age = input("enter your age"), city ="lko")
print(info)

{'name': 'alice', 'age': '23', 'city': 'lko'}

In [5]:
#1st method to access value through key
stu['name']
info['age']

'23'

In [6]:
#2nd method to access value through key
stu.get("name")
temp.get("delhi")

[55, 23]

In [ ]:
print(stu.keys())

dict_keys(['name', 'rollno', 'sem'])

In [8]:
print(stu.values())

dict_values(['aadya', 1, 5])

In [9]:
print(stu.items())

dict_items([('name', 'aadya'), ('rollno', 1), ('sem', 5)])

In [10]:
for k,v in info.items():
    print(f'{k}:{v}')

name:alice
age:23
city:lko

In [11]:
company = {
    'emp001':{
        'name':'alice',
        'age' : 30,
        'department': 'HR' 
    },
  'emp002':{
     'name':'BOB',
     'age' : 23,
    'department': 'CR' 
    },
'emp003':{
        'name':'charlie',
        'age' : 20,
        'department': 'FINANCE' 
    }
}
print(company)

{'emp001': {'name': 'alice', 'age': 30, 'department': 'HR'}, 'emp002': {'name': 'BOB', 'age': 23, 'department': 'CR'}, 'emp003': {'name': 'charlie', 'age': 20, 'department': 'FINANCE'}}

In [12]:
company['emp004'] = {
      'name':'david',
      'age':44,
      'department':'marketing'
}
print(company)

{'emp001': {'name': 'alice', 'age': 30, 'department': 'HR'}, 'emp002': {'name': 'BOB', 'age': 23, 'department': 'CR'}, 'emp003': {'name': 'charlie', 'age': 20, 'department': 'FINANCE'}, 'emp004': {'name': 'david', 'age': 44, 'department': 'marketing'}}

In [13]:
company['emp002']['department']

'CR'

In [14]:
#print the average temprature of lko key of temp dictionary

In [15]:
print(sum(temp['lko'])/len(temp['lko']))

37.5